@import "tailwindcss";

/* --- Styles de base (titres, etc.) --- */
@layer base {
  h1 {
    @apply lg:text-6xl md:text-5xl text-4xl font-bold;
  }

  h2 {
    @apply md:text-4xl text-3xl font-bold;
  }
}

/* --- Déclaration des variables de thème --- */
@theme {
  --color-primary: #032078;
  --color-primary-hover: #0734ba;
  --color-secondary: #d1850a;
  --color-tertiary:#d1850a;

}

/* --- Utilitaires personnalisés --- */
@layer utilities {
  /* Tu dois utiliser la variable CSS ici */
  .bg-primary {
    background-color: var(--color-primary);
   
  }
   .bg-primary:hover {
    /* background-color: var(--color-primary-hover); */
    
  }


  .bg-secondary{
    background-color: var(--color-secondary);
    
  }
  .text-primary {
    
    color: var(--color-primary);
  }
  .text-secondary{
    color: var(--color-secondary);
  }
}

/* --- Composants personnalisés --- */
@layer components {
  .navItem {
    @apply hover:text-blue-700;
  }

  .button {
    @apply border w-[90px] h-[40px] rounded-md cursor-pointer;
    background-color: var(--color-primary);
    color: white;
   
  }

  .button:hover {
   background-color: var(--color-primary-hover); 
  }

  .card-container {
    @apply w-[360px] shadow-xl rounded-2xl bg-[#FAFAFA];
  }
  .td{
    @apply px-6 py-3 text-sm text-gray-900 font-medium
  }
}

/* --- Exemple d’override CSS “pur” --- */
.button {
  border: solid var(--color-primary) 1px;
  padding: 2px 6px;
}
.button:hover {
  background-color:var(--color-primary-hover);
}
.navItem:hover{
  color: var(--color-primary-hover);
}